/* Styling top navbar */
/* Adapted from https://www.w3schools.com/w3css/tryw3css_templates_website.htm# */
/* Owner: Jessica Hobbins */

body {
  margin: 0;
}

.navbar {
  color: #fff !important;
  background-color: #000000 !important;
  width: 100%;
  overflow: auto;
}

.topbutton {
  background-color: #000!important;
  color: #fff!important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  float: left;
}

.topbutton:hover {
  background-color: #009688!important;
}

.homebutton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fff!important;
  background-color: #21333b!important;
}

/* Styling home page containers */
/* Adapted from https://www.w3schools.com/w3css/tryw3css_templates_website.htm# */
/* Owner: Jessica Hobbins */

.header {
  font-size: 0px;
}

.aboutcontainer {
  padding: 40px;
  text-align: center;
  color: #fff!important;
  background-color: #292929!important;
  font-size: 18px;
}

.missioncontainer {
  padding: 40px;
  background-color:#000000!important;
  color: #fff!important;
  font-size: 18px;
}

.teamcontainer {
  padding: 40px;
  text-align: center;
  color: #fff!important;
  background-color: #000000!important;
  font-size: 18px;
  float: left;
}

h1 {
  font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

h2 {
  font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 20px;
  margin: 10px 0;
}

h3 {
  font-size: 20px;
  font-family: 'Times', Arial,sans-serif;
  font-style: bold;
  font-weight: 400;
  margin: 3px 0;
}

h4 {
  font-family: "Times",Arial,sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 5px 0;
  margin-bottom: 15px;
  font-size: 16px;
}

h5 {
  font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 10px;
  padding-top: 6px;
}

p {
  font-family: 'Times', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px 16 18;
  margin: 5px 0;
}

.bio {
  font-family: 'Times', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px 16 18;
  column-count: 3;
}

.center {
  text-align: center!important;
}

.teammember {
display: inline-block;
padding: 20px;
column-count: 3;
column-width: 33%;
}

.circle {
  border-radius: 50%
}

.row {
  clear: both;
  text-align: center;
}

/*Styling Work Pages*/
/*Owner: Chelsea Penlington*/
.pagescontainer {
  padding: 20px;
  background: #E8E8E8;
  color: black;
}

/*Styling Our Work on Pages*/
/*Owner: Chelsea Penlington*/

/*our work id, display*/
#work {
  display: block;
}

/*our work backgrond colour*/
.ourwork-theme {
  color: black !important; 
  background-color: white !important;
}
/*padding on top of our work, seperating pictures from top of block*/
.ourwork-padding-top {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}
/*extents dark background to bottom of page*/
.ourwork-row-padding:after, .ourwork-row-padding:before {
  content: "";
  display: table;
  clear: both;
}

/*white cards line up, to left of page*/
.ourwork-quarter {
  float:left;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  width: 23%;
}
/*colour of white cards in our work*/
.ourwork-card-colour, .ourwork-hover-white:hover {
  color: #000!important;
  background-color: #fff!important;
}
/*shadow around white cards in our work*/
.ourwork-card {
  font-size: 14px;
  font-style: normal;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/*space between cards*/
.ourwork-row-padding>.ourwork-quarter {
  padding: 0 8px;
}
/*padding around text in white cards*/
.ourwork-container{
  padding: 0.01em 16px;
  position: relative;
  display: inline-block;
}

/*For lists in our work white cards, circle bullet points*/
ul {
  list-style-type: circle;
}

/*Test for responsize design*/
*,*:before,*:after{
  box-sizing:inherit
}

/*Styling Contact on Pages*/
/*Owner: Chelsea Penlington*/

/*background and text colour of contact container*/
.contact-theme {
  color: #000 !important;
  background-color: #f0f0f0 !important;
}

/*top and bottom padding for contact container*/
.contact-container-padding {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

/*padding around contact us heading*/
.contact-padding {
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  margin: 10px
}

/*padding around contact container*/
.contact-container {
  padding: 0.01em 16px;
}

/*large font used for contact bar*/
.contact-font-large {
  font-size: 24px!important;
  font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif;
}

/*bottom bar, under contact us*/
.contact-bottombar {
  border-bottom: 6px solid #ccc!important;
  border-color: #009688!important;
}

/*colour of icons in contacts banner*/
.contact-text-teal {
  color: #009688!important;
}

/*assigning icons from w3schools css: map marker, phone and envelope*/
.contact-map-marker:before {
  content: "\f041";
}
.contact-phone:before {
  content: "\f095";
}
.contact-envelope:before {
  content: "\f003";
}

/*padding for icons*/
i {
  padding-right: 10px;
  padding-left: 10px;
}

/* Styling slideshow header */
/* Adapted from https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
/* Owner: Jessica Hobbins */
/** {
  box-sizing: border-box;
}*/

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  font-size: 0px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with slight transparecny */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* NNumber of photo */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 20px 16px;
  color: white!important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Columns for thumbnails */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

/* Change effect on hover */
.active,
.demo:hover {
  opacity: 1;
}

/* Styling footer */
/* Owner: Jessica Hobbins */
/* Adapted from: https://www.w3schools.com/tags/tag_footer.asp */
.footer {
  font-size: 20px;
  font-family: 'Times', Arial,sans-serif;
  text-align: center;
  color: white;
  background-color: #222;
  padding: 10px;
}